body {
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
}
.section-mini-cards {
    width: 100%;
    display: flex;
    margin: .5rem auto auto 2rem;
}
.mini-cards-conteiners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items:center;
    margin: auto 5rem;
    gap: 1.5rem;
}
.conteinerCards {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.detalles {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100px;
}

@media (max-whidt: 781px) {
    .detalles {
        width: 200px;
    }
}